head{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
header{
max-width: 1100px;
margin: 1rem auto;
margin-bottom: 4rem;
}
header h1{
    
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: black;
    text-align: center;
}
header p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;;
    color: black;
    text-align: center;
}
main h2{
    
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
main p{
    
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}


body{
   
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
}


   
    
  
  

.flip-card {
    background-color: transparent;
    width: 220px;
    height: 274px;
    perspective: 1000px;
    font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  cursor: pointer;
 
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
   
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(to top, #bbc4ca 0%, #d9e2e7 100%);;
    color: rgb(0, 0, 0);
  }
  
  .flip-card-back {
    background:linear-gradient(to top, #bbc4ca 0%, #d9e2e7 100%);;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
  }
  
  
  